<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test2</title>
</head>
<body>
    <div id="content"></div>
    <div>
        <input type="text" id="txt"/>
        <input type="button" id="msg_btn" value="提交" onclick="send_msg();"/>
        <input type="button" id="connect_btn" value="开启连接"/>
    </div>
    <div id="state"></div>
    <script type="text/javascript">
        connected = false
        document.getElementById("connect_btn").onclick = function(){
            if(connected == false){
                create_connect(this)
            }else{
                close_connect(this)
            }

        }
        function create_connect(btn_obj) {
            socket = new WebSocket("ws://127.0.0.1:8008/chatsocket")
            connected = true
            socket.onopen = function () {
                document.getElementById('state').innerHTML = "连接成功";
                btn_obj.value = "断开连接"
            };
            socket.onmessage = function (event) {
                console.log("recv:",event.data)
            };
            socket.onclose = function (event) {
                document.getElementById("state").innerHTML = "服务器断开"
            };

        }
        function send_msg() {
            var txt = document.getElementById("txt");
            socket.send(txt.value);
            txt.value = '';
        }
        function close_connect(btn_obj) {
            socket.send("quit###")
            document.getElementById("state").innerHTML = "服务器断开";
            btn_obj.value= "开启连接"
            connected = false
        }

    </script>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/socket.io.min.js"></script>
    <script src="../static/js/socket.io.min.js.map"></script>
</body>
</html>